.new {
   float: right;
   margin-bottom: 1.5rem;
   padding: 0.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 600;
   border: 0;
   border-radius: 5px;
   color: var(--white);
   background: var(--blue500);
   transition: all .3s ease-in-out;
}
.new:hover {
   background: var(--blue600);
   transform: scale(1.03);
}

.new svg {
   margin-right: 0.3rem;
}


.dashboard {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

table {
   width: 100%;
   margin: 0;
   padding: 0;
   table-layout: fixed;
   border-collapse: collapse;
   border: 1px solid var(--gray400);
}

table caption {
   font-size: 1.5rem;
   margin: 0.5rem 0 0.75rem;
}

table tr {
   background: var(--white600);
   border: 1px solid var(--gray200);
   padding: 0.35rem;
}

table th, table td {
   padding: 0.62rem;
   text-align: center;
}

table th {
   font-size: 0.85rem;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
}

table td .action {
   border: 0;
   padding: 5px;
   border-radius: 4px;
   display: inline-block;
   margin-right: 3px;
}

table td .action svg {
   vertical-align: middle;
}

table td .badge {
   padding: 3px;
   border-radius: 3px;
   color: var(--white);
}

.dashboard span {
   margin: 1.5rem 0;
   font-size: 1.1rem;
   font-weight: bold;
}

.btn-more {
   margin: 1.5rem 0;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   font-size: 1.1rem;
   color: var(--white);
   background: var(--mainColor);
}

@media screen and (max-width: 600px) {
   table {
      border: 0;
   }

   table caption {
      font-size: 1.3rem;
   }

   table thead {
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      overflow: hidden;
      border: none;
   }

   table tr {
      margin-bottom: 0.6rem;
      display: block;
      border-bottom: 3px solid var(--gray200);
   }

   table td {
      border-bottom: 1px solid var(--gray200);
      display: block;
      font-size: 0.8rem;
      text-align: right;
   }

   table td::before {
      content: attr(data-label);
      font-weight: bold;
      text-transform: uppercase;
      float: left;
   }
}