.sidebar {
   width: 12.5rem;
   margin: 0;
   padding: 0;
   height: 100%;
   position: fixed;
   overflow: auto;
   background: var(--mainColor);
}

.sidebar section {
   height: 9.375rem;
   padding-top: 1.875rem;
   background: url('../../assets/cover.png') var(--mainColor) center center no-repeat;
   background-size: cover;
}

.sidebar section img {
   width: 5.625rem;
   height: 5.625rem;
   margin: auto;
   display: block;
   border-radius: 50%;
   object-fit: cover;
   filter: drop-shadow(2px 3px 6px var(--bgDark));
   -webkit-filter: drop-shadow(2px 3px 6px var(--bgDark));
}

.sidebar a {
   padding: 1rem;
   display: flex;
   align-items: center;
   flex-direction: row;
   color: rgba(255, 255, 255, 0.7);
   transition: ease-in-out 0.4s;
}
.sidebar a:hover {
   background: var(--bgDark);
   color: var(--white);
}

.sidebar a svg {
   margin-right: 0.5rem;
}

.content {
   margin-left: 12.5rem;
   padding: 0.0625rem 1rem;
}


@media screen and (max-width: 700px){
   .sidebar {
      width: 100%;
      height: auto;
      position: relative;
   }

   .sidebar section {
      display: none;
   }
   
   .content {
      margin-left: 0;
   }

   .sidebar a {
      float: left;
   }
}