
:root {
   --bgDark: #121212;
   --bgLight: #eaeaec;
   --mainColor: #181c2e;

   --white: #fff;
   --black: #000;

   --white600: #f8f8f8;

   --gray200: #dddddd;
   --gray400: #aaaaaa;
   --gray500: #808080;

   --blue500: #3583f6;
   --blue600: #5297ff;

   --yellow500: #f6a935;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html, body, #root {
   height: 100%;
}

body {
   font: 0.875rem sans-serif;
   background: #efefef;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

button {
   cursor: pointer;
}